body {
  margin: 0; padding: 0; background-color: #ffffff; color: #000000;
  font-family: Calibri, Helvetica, Arial, sans-serif;
}

a { color: #0a5; text-decoration: none; }
a:hover { text-decoration: underline; }

h1 { font-size: 3.8em; color: #040f2a; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a { text-decoration: none }
h2 { font-size: 1.5em; color: #040f2a; }
h3 { color: #040f2a; }

p { text-align: justify; }

.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
.download { float: right; }
pre { background: #000; color: #fff; padding: 15px;}

.rounded { border-radius: 0.5ex; -moz-border-radius: 0.5ex; -webkit-border-radius: 0.5ex; }

.container { margin: 0 auto; width: 960px; }
.container .half {
  margin: 0 auto 0 0; width: 49%; display: inline-block; vertical-align: top;
}

/*
 * header
 */

#header {
  background-color: #eee; padding: 1em 0; clear: both;
}
#header h1 {
  font-family: "ChunkFiveRegular"; font-size: 3em; color: #0a5;
  margin: 0; padding: 0;
}
#header h3 {
  font-size: 0.75em; font-weight: normal; color: #888; text-transform: uppercase;
  margin: 0; padding: 0;
}
#header #menu {
  padding: 1ex 0; margin: 1ex 0; float: right; clear: both;
}
  #header #menu ul { padding: 0; margin: 0; }
    #header #menu ul li { list-style: none; padding: 0 0 0 1em; margin: 0; display: inline-block; }

#header #info {
  float: right; clear: both; padding: 0.5ex; background-color: #fafafa;
  border: 1px solid #dadada; color: #666; font-size: 90%;
}

/*
 * pitch
 */

#pitch {
  background-color: #f5f5f5; padding: 1em 0; clear: both;
  font-size: 225%; font-weight: bold; text-align: center;
  color: #666;
}

/*
 * section
 */

#section { clear: both; }

#section hr { border-style: dotted; border-width: 1px; border-color: #bbb; }
#section .footnotes { font-family: "Times New Roman", serif; font-style: italic; font-size: 80%; }
#section .footnotes ol { padding: 0 0 0 1.25em ; }
#section .footnotes li { margin: 0; padding: 0; }
#section .footnotes li p { margin: 0; padding: 0; }

#section code, #section pre code {
  font-family: Inconsolata, Monaco, "Courier New", fixed;
  font-size: 12pt;
}
#section code { background-color: #ffd; }
#section pre > code { background-color: transparent; }

#section ul#builtin-macro-list {
  padding: 0; margin: 0; list-style-type: none;
}
#section ul#builtin-macro-list > li {
  border: 1px dotted #ccc; padding: 1em; margin: 1ex 0;
  border-radius: 1ex;
}
#section ul#builtin-macro-list > li p {
  margin-top: 0;
}
#section ul#builtin-macro-list li ul li {
  padding: .5ex 0; margin: 0; border-top: 1px dotted #ddd;
  display: inline-block; width: 47%; margin-right: 2%; vertical-align: top;
}

/*
 * footer
 */

#footer {
  background-color: #888; padding: 1em 0 2em 0; clear: both;
  color: #eee;
}

#footer h3 { color: #444; }

#footer a, #footer a:visited { color: #eaf19f; }
#footer a:hover { color: #eaf19f; }

#footer ul { list-style-type: none; padding: 0; margin: 0; }
#footer ul li { padding: 0; margin: 0; }
#footer ul li span { display: inline-block; width: 7em; }

#disclaimer {
  clear: both;
  padding: 1em 0; color: #555;
}
