<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.keywords }}">
    <title>Riot - {{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/type/type.css">
  </head>

  <body>

    <div id="header">
      <div class="container">
        <div id="release-info" class="rounded">
          Current Release: <a href="http://rubygems.org/gems/riot" title="Currenttly released Riot gem">0.11.4</a>
        </div>
      
        <div id="menu">
          <ul>
            <li><a href="./" title="Using riot in daily situations">Daily Use</a></li>
            <li><a href="./hacking.html" title="Thing to know about hacking riot">Hackers</a></li>
            <li><a href="./loot.html" title="Recipes for common situations">Loot</a></li>
            <li><a href="./about.html" title="Using riot in daily situations">About</a></li>
          </ul>
        </div>

        <h1>Riot!</h1>
        <h3>Protest the slow test</h3>
      </div>
    </div>

    <div id="section">
      <div class="container">
        {{ content }}
      </div>
    </div>

    <div id="footer">
      <div class="container">
        <a href="http://github.com/thumblemonks/riot" title="Checkout Riot source code">Source code</a> /
        <a href="http://rubydoc.info/github/thumblemonks/riot/master/frames" title="Lookover Riot documentation">Documentation</a>
        <A href="http://creativecommons.org/licenses/by/2.5/" title="Creative Commons Attribution"><img src="./images/cc-attribution-by-small.png" align="center" />
      </div>
    </div>

    <script src="./javascripts/jquery-1.4.2.min.js"></script>
    <script src="./javascripts/site.js"></script>
  </body>
</html>
