<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.keywords }}">
    <title>Riot - {{ page.title }}</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/type/type.css">
  </head>

  <body>

    <div id="header">
      <div class="container">
        <div id="release-info" class="rounded">
          Current Release: <a href="http://rubygems.org/gems/riot" title="Currenttly released Riot gem">0.11.4</a>
        </div>
      
        <div id="menu">
          <ul>
            <li><a href="./" title="Using riot in daily situations">Daily Use</a></li>
            <li><a href="./hacking.html" title="Thing to know about hacking riot">Hackers</a></li>
            <li><a href="./loot.html" title="Recipes for common situations">Loot</a></li>
            <li><a href="./about.html" title="Using riot in daily situations">About</a></li>
          </ul>
        </div>

        <h1>Riot!</h1>
        <h3>Protest the slow test</h3>
      </div>
    </div> <!-- #header -->

    <div id="section">
      <div class="container">
        {{ content }}
      </div>
    </div> <!-- #section -->

    <div id="footer">
      <div class="container">
        <div class="half">
          <div>
            <h3>Framework Extensions</h3>
            <ul>
              <li>
                <span><a href="" title="Riot + HTTParty">Riot Gear</a></span>
                Riot &plus; HTTParty (web service testing)
              </li>
              <li>
                <span><a href="" title="Riot + Sinatra">Chicago</a></span>
                Riot &plus; Sinatra
              </li>
              <li>
                <span><a href="" title="Riot + Mongoid">Riot Mongoid</a></span>
                Riot &plus; Mongoid
              </li>
              <li>
                <span><a href="" title="Riot + Rails">Riot Rails</a></span>
                Riot &plus; Rails
              </li>
            </ul>
          </div> <!-- frameworks -->

          <div>
            <h3>Indie Projects</h3>
            <ul>
              <li>
                <span><a href="" title="Independent model validations tool">WVSi96</a></span>
                Why Validations Suck in '96
              </li>
            </ul>
          </div> <!-- indie projects -->
        </div>

        <div class="half">
          <h3>Index</h3>
          <ul>
            <li><a href="./index.html#getting-started" title="Getting started with Riot">Getting started</a></li>
            <li><a href="./index.html#running" title="Running riot tests">Running Riot</a></li>
            <li><a href="./index.html#assertions" title="Using assertions">Assertions</a></li>
            <li><a href="./index.html#setups-hookups" title="Using setups and hookups">Setup &amp; Hookup</a></li>
            <li><a href="./index.html#helpers" title="Using helpers">Helpers</a></li>
            <li><a href="./index.html#mocking" title="Mocking in Riot">Mocking &amp; Stubbing</a></li>

            <li>Hacking: <a href="./hacking.html#beginning-hacking" title="Hacking Riot, an introduction">Introduction</a></li>
            <li>Hacking: <a href="./hacking.html#writing-assertion-macros" title="Writing assertion macros">Assertion Macros</a></li>
            <li>Hacking: <a href="./hacking.html#message-strings" title="How Riot message strings work">Message Strings</a></li>
            <li>Hacking: <a href="./hacking.html#context-middleware" title="Using context middleware in Riot">Context Middleware</a></li>
          </ul>
        </div> <!-- index -->

      </div>
    </div> <!-- #footer -->

    <div id="disclaimer">
      <div class="container">
        <a href="http://github.com/thumblemonks/riot" title="Checkout Riot source code">Source code</a> /
        <a href="http://rubydoc.info/github/thumblemonks/riot/master/frames" title="Lookover Riot documentation">API Documentation</a>
        <a href="http://creativecommons.org/licenses/by/2.5/" title="Creative Commons Attribution"><img src="./images/cc-attribution-by-small.png" align="center" /></a>
      </div>
    </div> <!-- #disclaimer -->

    <script src="./javascripts/jquery-1.4.2.min.js"></script>
    <script src="./javascripts/site.js"></script>
  </body>
</html>
